body {
  margin: 0;
  font-family: 'Avenir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  min-height: 100vh;
  background-image: linear-gradient(227deg, #000000 0%, #210736 100%);
  background-size: cover;
  color: white;
  font-size: 20px;
}
body {
	line-height: 1;
}
input, textarea, button {
	border: none;
	padding: 10px;
	outline: none;
  font-family: 'Avenir';
	font-size: inherit;
}
a, a:visited {
  color: #5f83f4;
}
a.button, a.button:visited, button {
  background-color: #5f83f4;
  color: white;
  padding: 0.5rem 1rem;
}
.doclink {
  padding: 1rem;
}
code {
}
h1, h2, h3, h4 {
  font-weight: 800;
}
h1 {
  font-size: 3rem;
}
.mt-2 {
  margin-top: 1rem;
}
.btn-primary, .btn-primary:visited {
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 3rem;
  background-image: linear-gradient(227deg, #07063e 0%, #31118b 100%);
  padding: 1rem 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
